* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;     
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h4 {
  text-decoration: underline;
}

h5 {
  font-style: italic;
  color: #C1D9EE;
}

p {
  color: #576366;
  font-weight: 300;
  text-align: left;
}

/********************* 
MAIN CONTAINER
*********************/

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 100%;
  text-align: center;
  min-height: 150px;
}

/********************* 
HEADER
*********************/

#header-text {
  color: white;
}

#launch-headline {
  font-family: "Great Vibes", cursive;
  color: #0b253b;
}

#container2 {
  width: 100%;
  padding: 10px;
}

.logo1 {
  width: 75px;
  min-height: 50px;
  text-align: left;
}

.header1 {
  width: 70%;
  background-color: #FCFDFE;
  font-weight: 700;
  min-height: 50px;
  text-align: left;
}

#pl-logo {
  width: 60px;
  height: 60px;
}

#title1 {
  font-size: 20px;
  color: #4D9DE0;
}

/********************* 
BODY SECTIONS
*********************/

.body1, .learn, .have-fun, .getHired, .body6 {
  padding: 30px;
}

.body1 {
  padding-top: 40px;
  text-align: center;
  font-weight: 500;
  background-color: #4D9DE0;
  padding-bottom: 65px;
}

/********************* 
Email Capture
*********************/

/* Input Field */
.email {
  font-size: 17px;
  display: inline-block;
  height: 40px;
  padding: 5px 26px;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

/* button */
.button {
  background-color: #69cb95;
  box-shadow: none; /* inset 0px -2px 0 0 #4fb67d; */
  border: none;  
  display: inline-block;
  color: #ffffff;
  font-size: 17px;
  height: 40px;
  padding: 5px 26px;
  margin-left: -6px;
  text-decoration: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.button:hover {
  background-color: #4fb67d;
}

.button:active {
  position:relative;
  top: 1px;
}

/********************* 
Email Perks
*********************/

#eBook-div, #video-div, #coaching-div {
  background-color: #F8F8F8;
}

.text-blue {
  color: #4D9DE0;
  font-weight: 400;
  font-size: 2em;
}

.email-perks {
  padding-top: 30px;
  padding-bottom: 30px;
}

.red-text {
  color: #D2504D;
  font-size: 1.75em;
}

.yellow-text {
  color: #E0BC28;
  font-size: 1.75em;
}

.purple-text {
  color: #7768ad;
  font-size: 1.75em;
}

.dark-gray-text {
  color: #7F7F7F;
  font-weight: 300;
}

#icon-person, #icon-book, #icon-play {
  font-size: 35px;
  padding: 15px;
  border-radius: 50%;
}

#icon-person {
  color: #E0BC28;
  border: #E0BC28 1px solid;
}

#icon-book {
  color: #D2504D;
  border: #D2504D 1px solid;
}

#icon-play {
  color: #7768AD;
  border: #7768AD 1px solid;
}

.button-two {
  border: none;  
  outline: none;
  display: inline-block;
  text-align: center;
  padding: 1.1em 3em 1em;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  height: 35px;
  padding: 5px 20px;
  margin-left: -6px;
  border-radius: 3%;
}

.button-two:active {
  position:relative;
  top: 1px;
}

#coaching-button {
  background-color: #E0BC28;
}

#eBook-button {
  background-color: #D2504D;
}

#play-button {
  background-color: #7768AD;
}

.text1 {
  line-height: 0.1
}

.free-text {
  text-transform: uppercase;
  color: #c3c9d1;
  font-weight: 300;
  letter-spacing: .1em;
  font-size: 8pt;
}

/********************* 
THREE IMAGE SECTION
*********************/

#get-hired {
  background-image: url("../img/woman-bag.jpg");
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

#learn {
  background-image: url("../img/girl-library.jpg");
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

#have-fun {
  background-image: url("../img/table-tea.jpg");
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.pic-text {
  font-weight: 700;
  background-color: #0b253b;
  color: #4D9DE0;
  font-size: 2em;
}


/********************* 
Get Started for free
*********************/

.body6 {
  background-color: #F0F6FB; /* #4D9DE0; */
  padding-bottom: 50px;
}

.body7 {
  background-color: #F0F6FB;
}

.gray-text {
  font-weight: 300;
  color: #C1D9EE;
  font-size: 1.5em;
}

#third-message {
  font-weight: 700;
  color: white;
  font-size: 1.75em;
}

.dark-text {
  color: #7B7C7C;
  font-size: 1.5em;
  font-weight: 300;
}
/********************* 
FOOTER
*********************/

footer {
  background-color: #0b253b;
}

#copyright {
  color: #6D757F;
  text-align: center;
  padding-top: 20px;
}

